<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="POST" action="/main">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type ="text" name="text" placeholder="Введите сообщение" />
            <input type ="text" name="tag" placeholder="Тег"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>
        <form method="POST" action="filter">
            <input type = "text" name = "filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Find by username</button>
        </form>
    </div>
    <div>User list:</div>
    <div></div>
    {{#users}}
    <div>
    <b>{{username}}</b>
        <i>{{#email}}
            {{.}}
        {{/email}}</i>
    </div>
    {{/users}}
</body>
</html>